@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin : 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    
}

*:focus {
    outline:none;
}

:root {
    --primary-color: #7e8a3d;
    --secondary-color: #fca311;
}

body {
    background-color: var(--primary-color);
    font-family: 'Lobster', cursive;
}

.cont {
    padding: 0rem 1rem;

}

.navigation {
    background-color: tomato;
    color: white;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;


}

.navigation .nav-brand {
    
    padding: 0.1rem 2rem;
    font-weight: bold;
    font-size: 3rem;
    

}



.navigation .nav-brand2 {
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    padding-left: 30rem;
    padding-top: 2rem;


}

.header {
    text-align: center;
    margin: 2.5rem;
    color: var(--secondary-color)
}

h1 {
    font-size: 2rem;
}

label, button {
    display: block;
}

.container {
    text-align: center;
    width: 100%;
    color: var(--secondary-color);
    margin: 3rem 0rem;
}

.bDate-label {
    margin: .5rem;
    font-size: 3rem;
}

#bDate {
    height: 2.5rem;
    width: 20%;
    padding: 0.2rem 1rem;
    margin-bottom: 1.3rem;
    border: none;
    border-radius: .5rem;
}

.checkPalindrome {
    margin: 1rem 55rem;
    border: none;
    border-radius: .6rem;
    height: 3.5rem;
    width: 7rem;
    background-color: var(--secondary-color);
    font-size: 1rem;
}

.checkPalindrome:hover {
    color: white;
}

.outputMsg {
    margin: 2.2rem 35rem;
    width: 40%;

}